.counter{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-self: center;
    gap: 12px;
}
.counter-value{
    font-size: 24px;
    font-weight: bold;
    background-color: gray;
    border: 2px solid black;
    padding: 8px;
    border-radius: 8px;
    color: white;
}
.counter-button{
    padding: 8px;
    border-radius: 8px;
    border: 2px solid black;
    background-color: lightgray;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.counter-button:hover{
    background-color: gray;
    color: white;
}
.counter-title{
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline;
}
.counter-button:active{
    transform: scale(0.98);
    background-color: darkgray;
}